In [1]:
import pandas as pd
import random

## Задание 1. Протокол Диффи-Хеллмана

Создаем датафрейм, где будут храниться данные по каждому из пользователей: Alice и Bob. Для присовения значений воспользуемся рандомом.
Примечание. Значения p и g для Alice и Bob присваивается одинаковое рандомное значение

In [2]:
d = pd.DataFrame({'Person':['Alice', 'Bob'], 'p' : [random.randint(10,101)]*2, 'g' : [random.randint(2,11)]*2, 'secret_digit' : [random.randint(2,10), random.randint(2,10)]})

<b>p</b> и <b>g</b> успешно присвоили одинаковые рандомные числа Alice и Bob, а <b>secret_digit</b> у каждого пользователя индивидуальный

In [3]:
d

  Person   p  g  secret_digit
0  Alice  21  5             6
1    Bob  21  5             5

Подсчитаем в столбец <b>А and B</b> значение для передачи собеседнику согласно формуле:

In [4]:
d['A and B'] = d.g ** d.secret_digit % d.p

Посмотрим, что получилось

In [5]:
d

  Person   p  g  secret_digit  A and B
0  Alice  21  5             6        1
1    Bob  21  5             5       17

Извлечем значения секретных кодов из нашего датафрейма

In [6]:
Alice_secret = d.iloc[0]['A and B']
Alice_secret

1

In [7]:
Bob_secret = d.iloc[1]['A and B']
Bob_secret

17

Воспользуемся формулой для нахождения общего ключа между Alice и Bob. Если мы сделали все верно, то их <b>s</b> должны быть равны

In [8]:
d['s'] = [Bob_secret ** d.loc[0]['secret_digit'] % d.loc[0]['p'], Alice_secret ** d.loc[1]['secret_digit'] % d.loc[1]['p']]

Видим результат:

In [9]:
d

  Person   p  g  secret_digit  A and B  s
0  Alice  21  5             6        1  1
1    Bob  21  5             5       17  1

## Задание 2. Шифр Цезаря

Присвоим общий секретный ключ из прошлого задания в <b>secret_key</b>

In [10]:
secret_key = d.loc[0]['s']

In [11]:
text = 'какой весёлый день'

Создадим функцию для шифрования, передав секретный ключ и строку для шифровки

In [12]:
def shifr (n, a):
    for i in a:
        if ord(i)==1105:
            i='е'
        if ord(i)!=32:
            k = ord(i)-n
            if k < 1072:
                k = k + 31
            print(chr(k), end = '')
        else:
            print(' ', end='')

Вызываем функцию и получаем зашифрованный текст

In [13]:
shifr(secret_key, text)

йюйни бдрдкъи гдмы